//* colors */

$white: #fff;
$black: #1e181c;
$blue: #0a4d9b;
$red: #df2f4a;
$icon-red: #f74236;
$green: #1C6E5C;
$grey: #a4acb8;
$grey-dark: #404250;
$grey-light: rgba(28,110,92,.05);

$main-color: $black;
$link-color: $main-color;

//* main variables */

$min-width: 320px;
$max-width: 1308px;
$base-bg: #fff;
$base-font-size: 1.8rem;
$mobile-font-size: 1.4rem;
$base-line-height: 1.3rem;
$base-font-family: 'HelveticaNeueLTPro', sans-serif;
$custom-font-family: 'HelveticaNeueLTComThCn', sans-serif;

//text, titles
$text-color: $black;
$title-color: $black;
$title-font-family: 'Vollkorn', serif;
$title-font-weight: 700;

$headerHeight: 18.5rem;
$headerHeightMobile: 7.2rem;
$footerHeight: 10rem;

$default-transition: all .2s linear;