.section-disclaimer {
  @media screen and (min-width: 981px) {
    padding-bottom: 15rem !important;
  }

  h3 {
    color: #000;
    font-size: 3.9rem;
    font-weight: 300;
    margin-bottom: 4rem;
    text-align: center;
  }
}//.section-disclaimer